*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
}
html{
    margin: 0;
    padding: 0;
}
/* body{
    background-image:url(wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
a{
    text-decoration: none;
    color:black;
}
i{
    color: white;
}

/*-------------------------- Navbar --------------------------*/

.nav{
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 7%;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    z-index: 1000;
    position: relative;
    top: 0; left: 0; right: 0;
}
.nav-container ul li{
    margin: 2px;
    float: left;
    position: relative;
}
.nav-container > ul > li > a{
    padding: 20px;
    display: block;
}
.nav-container ul li a:hover{
    background-color: #fbf8f1;
}
.sub-nav{
    display: none;
    width: 120px;
    background-color: #fff;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 10px 0 10px 0;
}
.sub-nav > li{
    width: 100%;
}
.sub-nav > li > a{
    padding: 10px;
    display: block;
}
.nav-item:hover .sub-nav{
    display: block;
}
/*-------------------------- search_section ------------------------*/
.searchbar_container{
    width: 95%;
    max-width: 1300px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    background-image: url(Plane.jpg);
    background-size: cover;
    position: relative;
    border-radius: 24px;
}
.img_text{
    width: 420px;
    padding: 100px;
    color: white;
    position: relative;
}
.img_text h3{
    margin-top: 10px;
    width: 300px;
    text-indent: 10px;
}
.img_text button{
    border: none;
    color: white;
    background-color: rgb(0, 162, 255);
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    margin-left: 40px;
}
.img_text button:hover{
    background-color: #f8b195;
    cursor: pointer;
}
.searchbar{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    height: 150px;
    background-color: #eeeeeefe;
    border-radius: 24px;
    overflow: hidden;
    border: 1px solid rgb(192, 192, 192);
    box-shadow: 0 0 100px 2px rgba(0, 0, 0, 0.1);
}
.searchbar_nav{
    width: 100%;
    display: flex;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.searchbar_nav button{
    width: max-content;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0)
}
.searchbar_nav button:hover{
    background-color: white;
    cursor: pointer;
}
.searchbar_nav :last-child{
    width: 405px;
    color: #eeeefe;
}
.searchbar_nav :last-child:hover{
    background-color: rgba(255, 255, 255, 0);
    cursor: default;
}
.search_form_content{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 90px;
}
.search_form_content div form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px; 
    width: 90%;
    padding: 30px 20px 30px 20px;
}
.search_form_content div form button{
    border: none;
    background-color: rgb(0, 162, 255); 
    color: white;
    width: 48px;
    height: 48px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 95%;
    transform: translateX(-50%);
}
.search_form_content div form button:hover{
    background-color: #f8b195;
    cursor: pointer;
}
/*-------------------------- Introduce ------------------------*/
.introduce_container{
    position: relative;
    width: 1300px;
    height: 150px;
    display: flex;
    margin: auto;
    margin-top: 100px;
}
.introduce{
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    border-radius: 24px;
}
.introduce_text{
    padding: 60px 40px 20px 40px;
    z-index: 1000;
}
.introduce h2{
    display: flex;
    align-items: center;
    color: #ffffff;
}
.introduce div{
    display: flex;
    gap: 40px;
}
.introduce div p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
    background-color: rgb(184, 53, 53);
    border-radius: 24px;
    color: #fff;
}
.wave{
    position: absolute;
    overflow: hidden;
    z-index: -1;
    border-radius: 24px;
    background: url(Layered-waves/layered-waves-haikei\ \(2\).png);
    background-size: 2600px 150px;
    width: 1300px;
    height: 150px;
}
.wave1{
    animation: animate 30s linear infinite;
}
@keyframes animate{
    0%{
        background-position-x: 1300px;
        z-index: 999;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0px;
    }
    50%{
        background-position-x: 2600px;
    }
    100%{
        background-position-x: 1300px;
    }
}
.wave2{
    bottom: 30px;
    opacity: 0.8;
    animation: animate2 20s linear infinite;
}
.wave3{
    bottom: 15px;
    opacity: 0.6;
    animation: animate3 15s linear infinite;
}
@keyframes animate2{
    0%{
        background-position-x: 2600px;
        z-index: 998;
        animation-delay: -5s;
    }
    50%{
        background-position-x: 1300px;
    }
    100%{
        background-position-x: 2600px;
    }
}
@keyframes animate3{
    0%{
        background-position-x: 1300px;
        z-index: 997;
        animation-delay: -2s;
    }
    50%{
        background-position-x: 2600px;
    }
    100%{
        background-position-x: 1300px;
    }
}
/*-------------------------- Reception ------------------------*/

.recep_container{
    margin-top: 50px;
}
.box{
    border-radius: 24px;
    width: 95%;
    max-width: 1300px;
    height: 800px;
    margin: auto;
    background-image: url(tropical-beach-hut-with-turquoise-water_9975-32955.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.recep_header{
    background: linear-gradient(rgba(100,100,100,0),rgba(0,0,0,0.6));
    display: flex;
    position: relative;
    font-size: 1.75rem;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin-top: 150px;
    padding: 10px 100px 80px 100px;
}
.recep_title{
    color: rgb(255, 255, 255);
}
.recep_tilte_button{
    border: none;
    border-radius: 10px;
    font-size:large;
    background: rgb(255, 255, 255);
    padding: 20px;
}
.recep_tilte_button:hover{
    background: rgb(255, 0, 0);
    color: white;
}
.slider{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8));
    width: 100%;
    display: block;
    position: relative;
    padding-bottom: 20px;
    height: 500px;
}
.slider_list{
    left: 0;
    width: fit-content;
    display: flex;
    gap: 50px;
    padding: 0 72px 0 72px;
    list-style-type: none;
    position: relative;
    transition-duration: 0.5s;
}
.slider_list_item{
    width: 100%;
    position: relative;
}
.slider_item_link{
    display: block;
    width:260px;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    padding:18px;
    border-radius: 14px;
}
.slider_image{
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 4/3;
    object-fit: cover;
}
.slider_item_link h3{
    display: block;
    width: fit-content;
    background-color: white;
}
.slider_item_link h5{
    margin-top: 24px;
}
.slider_item_link{
    border: 2px solid white;
    transition: 0.1s ease;
}
.slider_item_link:hover{
    border: 2px solid rgb(131, 0, 0);
}
.card_title{
    margin: 12px 0 6px 0;
}
.card_title h3{
    height: 2.34em;
}
.card_rating{
    color: white;
    background-color: #e85367;
    width: fit-content;
    padding: 0 4px 0 4px;
    border-radius: 4px;
}
.card_price > span > del{
    font-size: 0.8em;
}
.card_description {
    margin-top: 5px;
    font-size: 0.8em;
}
.member_tag{
    width: fit-content;
    line-height: 24px;
    background-color: #355c7d;
    color: #ffffffe3;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    border-radius: 5px;
    white-space: nowrap;
    gap: 5px;
}
.slider button{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    border: none;
    width: 10%;
    height: 100%;
    color: #fff;
}
.slider button svg{
    opacity: 0;
    transition: 0.2s ease;
}
.slider:hover button svg{
    opacity: 1;
}
.slider button:hover{
    cursor: pointer;
}
.b_prev{
    left: -30px;
    background: linear-gradient(to right,rgba(0,0,0,0.4),rgba(0,0,0,0));
}
.b_prev:hover svg {
    height: 60px; 
    width: 60px; 
}
.b_next{
    background: linear-gradient(to left,rgba(0,0,0,0.4),rgba(0,0,0,0));
    right: -30px;
}
.b_next:hover svg {
    height: 60px;
    width: 60px;
}

/*-------------------------- Footer --------------------------*/

.ftr_box{
    color: white;
    width: 100%;
    height: 200px;
    margin-top: 100px;
    background-color: black;
    position: relative;
}
.ftr_list{
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}
.ftr_list > li > ul > li > a{
    opacity: 0.5;
}
.ftr_list > li > ul > li > a:hover{
    text-decoration: underline;
    opacity: 1;
}
.ftr_hd_sub li{
    padding-top: 10px;
}
.ftr_hd_sub li a{
    color: white;
    font-size: 0.85em;
}
.media_ic > li > a > i{
    margin-right: 10px;
}
.media_ic a{
    width: 110px;
    color: white;
    line-height: 32px;
    display: flex;
    float: left;
}

