*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
}
html{
    margin: 0;
    padding: 0;
}
/* body{
    background-image:url(wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
a{
    text-decoration: none;
    color:black;
}
i{
    color: white;
}

#airport_province {
    height: 35px;
    border: 1px solid #ddd;
    padding-left: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=text]:focus {
    outline: none;
    box-shadow: none;

  }

/*-------------------------- Navbar --------------------------*/

.nav{
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 7%;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    z-index: 1000;
    position: relative;
    top: 0; left: 0; right: 0;
}
.nav-container ul li{
    margin: 2px;
    float: left;
    position: relative;
}
.nav-container > ul > li > a{
    padding: 20px;
    display: block;
}
.nav-container ul li a:hover{
    background-color: #fbf8f1;
}
.sub-nav{
    display: none;
    width: 120px;
    background-color: #fff;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 10px 0 10px 0;
}
.sub-nav > li{
    width: 100%;
}
.sub-nav > li > a{
    padding: 10px;
    display: block;
}
.nav-item:hover .sub-nav{
    display: block;
}
/*-------------------------- search_section ------------------------*/
.searchbar_container{
    width: 95%;
    max-width: 1300px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    background-image: url(Plane.jpg);
    background-size: cover;
    position: relative;
    border-radius: 24px;
}
.img_text{
    width: 420px;
    padding: 100px;
    color: white;
    position: relative;
}
.img_text h3{
    margin-top: 10px;
    width: 300px;
    text-indent: 10px;
}
.img_text button{
    border: none;
    color: white;
    background-color: rgb(0, 162, 255);
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    margin-left: 40px;
}
.img_text button:hover{
    background-color: #f8b195;
    cursor: pointer;
}
.searchbar{
    z-index: 1051;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 1100px;
    height: 150px;
    background-color: #fff;
    border-radius: 24px;
    border: 2px solid rgb(19, 100, 155);
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
}
.searchbar_nav{
    position: relative;
    width: 100%;
    display: flex;
    float: left;
    padding: 0 20px 0 20px;
    background-color: rgb(19, 100, 155);
    border-radius: 20px 20px 0 0;
}
.searchbar_nav button{
    width: max-content;
    color: white;
    border: none;
    border-bottom: 3px solid rgb(0, 0, 0, 0);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    transition: border-color 0.3s;
}
.searchbar_nav > button:first-child{
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
.searchbar_nav button:hover{
    background-color: rgb(21, 115, 179);
    cursor: pointer;
}
.searchbar_nav :last-child{
    color: rgb(19, 100, 155);
    border: none !important;
}
.searchbar_nav :last-child:hover{
    background-color: rgb(19, 100, 155);
    cursor: default;
}
.search_form_content{
    display: flex;
    position: relative;
    height: 90px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.form_container{
    width: 90%;
    height: 90px;
}
.form_display{
    display: none;
}
.form_display:first-child{
    display: block;
}
.form_display > form{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 90px;
}
.search_form_content > button{
    border: none;
    background-color: rgb(0, 162, 255); 
    color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.search_form_content > button:hover{
    background-color: #f8b195;
    cursor: pointer;
}
.find_hotels > form > div:first-child{
    width: 33%;
}
.find_hotels > form > div:nth-child(2){
    width: 33%;
}
.find_hotels > form > div:last-child{
    width: 40%;
}
.select2-container{
    width: 100% !important;
}
.select2-selection{
    height: 45px !important;
}
.select2-selection--single{
    border: 3px solid #dcccb3 !important;
}
.select2-selection__rendered{
    line-height: 45px !important;
}
.select2-selection__arrow{
    display: none;
}
.select2-search__field{
    border: 1px solid #dcccb3  !important;
}
.select2-container *:focus {
    outline: none;
}
.force-dropdown-below {
    top: 100% !important;
}
.datePicker_container{
    height: 45px;
    border: 3px solid #dcccb3;
    border-radius: 4px;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}
#daterange{
    border: none;
    width: 100%;
    font-size: 16px;
}
#daterange::placeholder{
    color: #000;
}
#daterange:hover{
    cursor: pointer;
}
.daterangepicker .ltr .show-calendar .opensright{
    transition: 2s ease;
}
        .applyBtn{
        background-color: white;
            border: 1px solid #aaa;
            border-radius: 12px;
        }
        .applyBtn:enabled:hover{
          background-color: rgb(0, 162, 255);
          border: 1px solid rgb(0, 162, 255);
          color: white;
          cursor: pointer;
        }
        .cancelBtn{
          background-color: white;
          border: 1px solid #aaa;
          border-radius: 12px;
        }
        .cancelBtn:hover{
          background-color: rgb(0, 162, 255);
          border: 1px solid rgb(0, 162, 255);
          color: white;
          cursor: pointer;
        }
.guestSelector{
    background-color: white;
    border: 3px solid #dcccb3;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 3px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
}
.guestSelector:hover{
    cursor: pointer;
}
.guestSelector_box{
    display: none;
    position: absolute;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 316px;
    border: 1px solid #aaa;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    height: 200px;
}
#triangle {
    width: 0;
    height: 0;

    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}
.guestSelector_box > div{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.GSC{
    width: 32px;
    height: 32px;
    border: none;
    font-size: 16px;
}
.GSC:hover{
    cursor: pointer;
    background-color: rgb(0, 162, 255);
    color: white;
}
#adults, #childrens, #rooms{
    border: 2px solid #aaa;
    height: 32px;
    width: 48px;
    text-indent: 16px;
    font-size: 16px;
    user-select: none;
}
/* Customize the label (the container) */
.checkbox_container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}
  
  /* Hide the browser's default checkbox */
.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    transform: translateY(-50%);
    left: 140px;
    background-color: #eee;
}
  
  /* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
  /* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
    background-color: rgb(0, 162, 255);
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
    left: 4px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*-------------------------- Introduce ------------------------*/
.introduce_container{
    position: relative;
    width: 1300px;
    height: 150px;
    display: flex;
    margin: auto;
    margin-top: 100px;
}
.introduce{
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    border-radius: 24px;
}
.introduce_text{
    padding: 60px 40px 20px 40px;
    z-index: 1000;
}
.introduce h2{
    display: flex;
    align-items: center;
    color: #ffffff;
}
.introduce div{
    display: flex;
    gap: 40px;
}
.introduce div p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
    background-color: rgb(184, 53, 53);
    border-radius: 24px;
    color: #fff;
}
.wave{
    position: absolute;
    overflow: hidden;
    z-index: -1;
    border-radius: 24px;
    background: url(Layered-waves/layered-waves-haikei\ \(2\).png);
    background-size: 2600px 150px;
    width: 1300px;
    height: 150px;
}
.wave1{
    animation: animate 30s linear infinite;
}
@keyframes animate{
    0%{
        background-position-x: 1300px;
        z-index: 999;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0px;
    }
    50%{
        background-position-x: 2600px;
    }
    100%{
        background-position-x: 1300px;
    }
}
.wave2{
    bottom: 30px;
    opacity: 0.8;
    animation: animate2 20s linear infinite;
}
.wave3{
    bottom: 15px;
    opacity: 0.6;
    animation: animate3 15s linear infinite;
}
@keyframes animate2{
    0%{
        background-position-x: 2600px;
        z-index: 998;
        animation-delay: -5s;
    }
    50%{
        background-position-x: 1300px;
    }
    100%{
        background-position-x: 2600px;
    }
}
@keyframes animate3{
    0%{
        background-position-x: 1300px;
        z-index: 997;
        animation-delay: -2s;
    }
    50%{
        background-position-x: 2600px;
    }
    100%{
        background-position-x: 1300px;
    }
}
/*-------------------------- Reception ------------------------*/

.recep_container{
    margin-top: 50px;
}
.box{
    border-radius: 24px;
    width: 95%;
    max-width: 1300px;
    height: 800px;
    margin: auto;
    background-image: url(tropical-beach-hut-with-turquoise-water_9975-32955.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.recep_header{
    background: linear-gradient(rgba(100,100,100,0),rgba(0,0,0,0.3));
    display: flex;
    position: relative;
    font-size: 1.75rem;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin-top: 150px;
    padding: 10px 100px 80px 100px;
}
.recep_title{
    color: rgb(255, 255, 255);
}
.recep_tilte_button{
    border: none;
    border-radius: 10px;
    font-size:large;
    background: rgb(255, 255, 255);
    padding: 20px;
}
.recep_tilte_button:hover{
    background: rgb(255, 0, 0);
    color: white;
}
.slider{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9));
    width: 100%;
    display: block;
    position: relative;
}
.slider_list{
    left: 0;
    width: fit-content;
    display: flex;
    gap: 10px;
    padding: 0 72px 0 72px;
    list-style-type: none;
    position: relative;
    transition-duration: 0.5s;
}
.slider_list_item{
    display: block;
    width:350px;
    height: 500px;
    position: relative;
    padding:18px;
    border-radius: 14px;
}
.slider_item_link{
    text-decoration: none;
    color: white;
}
.slider_image{
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.slider_item_link h3{
    display: block;
    width: fit-content;
}
.slider_item_link h5{
    margin-top: 24px;
}
.slider_item_link{
    transition: 0.1s ease;
}
.card_title{
    margin: 12px 0 6px 0;
}
.card_title h3{
    height: 2.34em;
}
.card_rating{
    color: white;
    background-color: #e85367;
    width: fit-content;
    padding: 0 4px 0 4px;
    border-radius: 4px;
}

.rate{
    font-size: 12px;
    margin: 3px 0;
    color: #716f6f;
}

.card_price > span > del{
    font-size: 0.8em;
}
.card_description {
    margin-top: 5px;
    font-size: 0.8em;
}
.member_tag{
    width: fit-content;
    line-height: 24px;
    background-color: #355c7d;
    color: #ffffffe3;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    border-radius: 5px;
    white-space: nowrap;
    gap: 5px;
}
.slider button{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    border: none;
    width: 48px;
    height: 48px;
    background-color: #aaa;
    border-radius: 50%;
}
.slider .b_prev, .slider .b_next{
    opacity: 0;
    transition: 0.2s ease;
}
.slider:hover .b_prev, .slider:hover .b_next{
    opacity: 1;
}
.slider button:hover{
    cursor: pointer;
}
.svg{
    fill: rgb(0, 162, 255);   
}
.b_prev{
    left: 15px;
    background: none;
}
.b_prev:hover {
    left: 5px;
    padding-right: 15px;
}
.b_next{
    background: none;
    right: 15px;
}
.b_next:hover {
    right: 5px;
}
/*--------image_slider--------*/
.image_slider{
    padding: 0;
    margin: 0;
    display: block;
    width: 314px;
    overflow: hidden;
    position: relative;
}
.image_slider_list{
    display: flex;
    left: 0;
    position: relative;
    width: calc(314px*4);
    transition: 0.2s ease;
}
.image_slider_list_item{
    left: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}
.slider_image{
    width: 314px;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.ib_prev{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    border: none;
    width: 5%;
    height: 100%;
    color: #fff;
    background: none;
}
.ib_prev:hover {
    cursor: pointer;
}
.ib_next{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    border: none;
    width: 5%;
    left: 80%;
    height: 100%;
    color: #fff;
    background: none;
    right: 0px;
}
.ib_next:hover {
    cursor: pointer;
}
/*-------------------------- Footer --------------------------*/

.ftr_box{
    color: white;
    width: 100%;
    height: 200px;
    margin-top: 100px;
    background-color: black;
    position: relative;
}
.ftr_list{
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}
.ftr_list > li > ul > li > a{
    opacity: 0.5;
}
.ftr_list > li > ul > li > a:hover{
    text-decoration: underline;
    opacity: 1;
}
.ftr_hd_sub li{
    padding-top: 10px;
}
.ftr_hd_sub li a{
    color: white;
    font-size: 0.85em;
}
.media_ic > li > a > i{
    margin-right: 10px;
}
.media_ic a{
    width: 110px;
    color: white;
    line-height: 32px;
    display: flex;
    float: left;
}

